<table class="table table-bordered mb-3">
  <tbody>
    <tr>
      <td class="bg-light w-25">氏名</td>
      <td>
        <%= @member.last_name %>
        <%= @member.first_name %>
      </td>
    </tr>
    <tr>
      <td class="bg-light">カナ</td>
      <td>
        <%= @member.last_name_kana %>
        <%= @member.first_name_kana %>
      </td>
    </tr>
    <tr>
      <td class="bg-light text-nowrap">メールアドレス</td>
      <td>
        <%= @member.email %>
      </td>
    </tr>
    <tr>
      <td class="bg-light">生年月日</td>
      <td>
        <%= @member.year %> 年
        <%= @member.month %> 月
        <%= @member.day %> 日
      </td>
    </tr>
  </tbody>
</table>