<!-- headerリスト -->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <% unless admin_signed_in? %>
        <strong><%= link_to "運命学", root_path, class: "navbar-brand text-white" %></strong>
      <% else %>
        <strong><%= link_to "運命学", admin_root_path, class: "navbar-brand text-white" %></strong>
      <% end %>
      <% if member_signed_in? %>
        <p class="navbar-brand text-white" style="margin: 5px 0; margin-left: 50px;">ようこそ、<%= current_member.last_name %> 様</p>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
         <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>
            <%= render 'layouts/admin' %>
          <% elsif member_signed_in? %>
            <%= render 'layouts/member' %>
          <% else %>
            <%= render 'layouts/none' %>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>